# non-version specific
invoke
semver==2.13.0
invoke==1.7.1
semver
PyYAML==6.0
neuralnetwork==1.8
protobuf==4.21.1
matplotlib==3.5.2
ptyprocess==0.7.0
renovate/numpy-1.x
scikit-learn==1.0.2
numpy==1.22.4
=======
scikit-learn==1.1.1
numpy==1.22.3
Main-renovate/k8s.io-klog-v2-2.x
renovate/tensorflow-cpu-2.x
renovate/tensorflow-2.x
tensorflow==2.9.1
=======
renovate/pypi-tensorflow-cpu-vulnerability
tensorflow==2.9.1
renovate/pypi-tensorflow-gpu-vulnerability
tensorflow-cpu==2.8.0
tensorflow-gpu==2.9.1
=======
tensorflow-cpu==2.9.1
tensorflow-gpu==2.8.0
Main-renovate/k8s.io-klog-v2-2.x
=======
tensorflow==2.9.1
tensorflow-cpu==2.9.1
=======
tensorflow==2.9.1
Main-renovate/k8s.io-klog-v2-2.x
renovate/pypi-tensorflow-gpu-vulnerability
tensorflow-cpu==2.8.0
tensorflow-gpu==2.9.1
=======
tensorflow-cpu==2.9.1
tensorflow-gpu==2.8.0
Main-renovate/k8s.io-klog-v2-2.x
=======
tensorflow==2.9.1
tensorflow-cpu==2.9.1
renovate/pypi-tensorflow-cpu-vulnerability
renovate/pypi-tensorflow-cpu-vulnerability
Main-renovate/k8s.io-klog-v2-2.x
tensorflow-gpu==2.9.1
=======
tensorflow-gpu==2.9.1
=======
tensorflow-gpu==2.9.1
Main-renovate/k8s.io-klog-v2-2.x
Main-renovate/k8s.io-klog-v2-2.x
Main-renovate/k8s.io-klog-v2-2.x
